body {
  background-color: black;
  font-family: 'Rajdhani', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   border-left: 10vw solid black; /* Left border */
  border-right: 10vw solid black;
  /* This ensures that the container takes the full height of the viewport */
}

#logo {
  width: 30vw;
}

#logosmall{
  width:10vw;
}
#alert{
  color:red;
}

label {
  font-family: 'Rajdhani', sans-serif;
  color: white;
  text-align: center; /* Center the text within the label */
}

h1, h3 {
  text-align: center; /* Center the text within the headings */
}

form {
  text-align: center; /* Center the form */
}

/* Add some styles to make the form look better (optional) */
form {
  margin-top: 20px;
}

/* Add some padding to the form elements (optional) */
input[type="text"], input[type="submit"] {
  padding: 10px;
}

/* Optional: Center the logo on smaller screens */
@media (max-width: 600px) {
  #logo {
    width: 70vw;
  }
}
