/* Set background color and styles for the body */
body {
  
  background-color:#F3F3F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Rotate the image */
.image {
  position: relative;

  top: 0%;
  width: 500px;
  height: 450px;
 
  -webkit-animation:spin 80s linear infinite;
  z-index: -1;
}

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}

@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}

@keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
  } 
}

/* Overlay with multiply blend mode */
.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://i.pinimg.com/originals/10/09/1e/10091e11c69c8483f21097791d420e86.jpg');
  background-size: cover;
  mix-blend-mode: multiply;
  z-index: -1;
}

/* Style the title */
h1 {

  font-family: Arial;
  color: black;
  z-index: 1;
  
}

#newstitle {
  position: relative;
  font-family: Futura;
  color: black;
  top: 10%;
  left: -10%;
  
}

#vocetitle{

  font-family: Times;
  position: relative;
  font-size: 70px;
  color: black;
  top: 0vh;
  left: -32vw;

  background: yellow;
}

#newsp{
   background-color:#F3F3F3;
  position: relative;
  font-family: Futura ;
  color: black;
  top: 17%;
  left: -9%;
  overflow: visible;
}

p{
  font-family: Futura;
  color: black;
}

#firstlink{
  font-family: Futura;
  color: black;
  text-decoration: none;
}

#homelink{
  font-family: Futura;
  color: blue;
  text-decoration: none;
}

#homelink:hover {
  color: red; 
 font-family: Times;
 cursor: help;
  
}
#firstlink:hover {
  color: red; 

 cursor: help;
  
}

#articlediv{
  width: 80vw;
  height: 60vh;
  
  

}

#titlediv{
    width: 68vw;
}
/* Style the link and paragraph */
.overlay-link {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-20%, -200%);
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, font-family 0.3s ease;
}

/* Change link background color and font on hover */
.overlay-link:hover {
  font-weight: bold;
  color: #2F99FC;
}
